{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Home Page - About</title>
    </head>
    <body>
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime accusamus laboriosam esse, labore reprehenderit, rerum architecto voluptatum incidunt hic sint minima quisquam similique quas temporibus facilis nulla accusantium harum sed eius omnis autem, iure nesciunt tenetur voluptatibus! Fugit ab ex quis dolores quos, fuga voluptatibus natus sit laboriosam ipsa numquam cumque eos error ut quas ducimus debitis tenetur corrupti doloribus nulla facilis accusantium obcaecati. Ex minus facere earum architecto cupiditate! Voluptates voluptas sed dolor omnis sapiente, rem recusandae alias corporis doloribus distinctio atque facilis? Nesciunt dolorem mollitia nemo alias suscipit incidunt accusamus fugiat. Eveniet quasi ad eaque ipsa optio. Officiis.</p>
        <p>Web site create by {{username}}</p>
    </body>
    </html>
{% endblock %}